@import "../valo/valo.scss";

@mixin codeGraph {
  @include valo;

  .group {
    @include valo-horizontallayout-wrapping-style();
  }

  #explorer-login-form,
  .header {
    background-image: url('branding/MASH powerpoint.jpg');
    background-size: cover;
  }

  #explorer-login-form {
    background-position: center;
  }

  #search-component > input {
    font-weight: bold;
  }

  #tool-bar {
    padding: 0;
  }

  .header {
    background-position: top;
  }

  .logo {
    color: rgb(105, 116, 123);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0 12px;
  }

  .vis-network-tooltip {
    @extend .v-tooltip;

    &:empty {
      display: none;
    }
  }
}
